* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  margin: 0 auto;
}

.announcementbar {
  margin: 0;
  width: 100%;
  background: #fa6938;
  padding: 0.01rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.announcementbar p {
  margin-left: 5rem;
  color: white;
}

#shipping {
  color: white;
  background: rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  padding: 0.4rem;
  text-transform: uppercase;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  height: 8rem;
  width: auto;
  margin-left: 5rem;
}

.nav-list {
}

.accountlinks {
  font-family: 'Source Sans Pro', sans-serif;
  color: gray;
  text-align: right;
  margin-right: 5rem;
  padding: 0.2rem;
  /*text-decoration: none;*/
}

.signin {
  text-decoration: none;
  color: gray;
}

.container {
  display: block;
}

.InputAddOn {
  float: left;
}

.InputAddOn-field {
  flex: 1;
}

.InputAddOn-item {
}

.accountsearch {
  margin-right: 5rem;
  position: relative;
}

.accountsearch button {
  float: left;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

.nav-list__item {
  list-style: none;
  display: inline;
  padding: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: lighter;
}


.fa-search {
  color: gray;
}


.hero-container {
  display: block;
  background: #F5F5F5;
  border-top-style: groove;
}

.tieselection {
  display: flex;
  justify-content: center;
  margin: auto;
  list-style: none;
  width: 80%;
  padding-left: 0;
}

.tie img {
  width: 100%;
}

.tie {
  text-decoration: none;
}

.tiecolor {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.tagline {
  display: block;
  text-align: center;
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4rem;
}

.three {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: auto;
  position: relative;
}

.class {
  width: 100%;
}

.three-img {
  margin: 1rem;
  position: relative;
}

.three-img-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  transform: translate(12rem, -11rem);
  position: absolute;
}


.quote {
  text-align: center;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  font-size: 2rem;
  padding: 2rem;
}

#story {
  text-transform: uppercase;
  color: #3498db;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 5rem;
  border-bottom-style: groove;

}

.footer-main {
  display: flex;
  justify-content: center;
  width: 80%;
  /*margin-left: 5rem;
  margin-right: 5rem;*/
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
}

.footer-fourth {
  width: 100%;
}

.footer-main img {
  width: 90%;
  height: auto;
}

.subscribeme {
  color: white;
  background: #3498db;
  border: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.fa-twitter {
  color: #00aced;
}

.fa-pinterest {
  color: #cb2027;

}

.fa-facebook {
  color: #3b5998;

}

.weeklypick {
  color: #3498db;
  background: none;
}


.footersub {
  display: flex;
  background: #F5F5F5;
  border-top-style: groove;
}

.footersub ul {
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1rem;
}

.footersub li {
  list-style: none;
  padding: 0.2rem;
}

.firstlist {
  font-weight: bold;
  margin-bottom: 0.2
}

.helpcenter {
  background: lightgray;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 5rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.helpcenter p {
  display: block;
  padding: 0;
  margin: 0;
}

.contactus {
  display: inline-block
  font-size: larger;
  color: white;
  background: #3498db;
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-top: 0.5rem;

  float: right;
  position: relative;
  left: -2rem;
}

.copyright {
  background: #F5F5F5;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1rem;
  text-align: left;
  padding-left: 5rem;
}
