* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  margin: 0 auto;
}

.announcementbar {
  margin: 0;
  width: 100%;
  background: #fa6938;
  padding: 0.01rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.announcementbar p {
  margin-left: 5rem;
  color: white;
}

#shipping {
  color: white;
  background: rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  padding: 0.4rem;
  text-transform: uppercase;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  border-bottom-style: groove;
}

.site-logo {
  height: 8rem;
  width: auto;
  margin-left: 5rem;
}

.nav-list {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.accountlinks {
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
}

.signin {
  display: inline;
  padding-right: 1rem;
}

.register {
  display: inline;
  padding-right: 2rem;
}

.accountsearch {
  margin-right: 5rem;
}

.nav-list__item {
  list-style: none;
  display: inline;
  padding: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 1.5rem;

}

.searchbar {
  background: #fff;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.fa-search {
  position: absolute;
  color: gray;
}


.hero-container {
  display: block;
  background: #F5F5F5;
}

.tieselection {
  display: flex;
  /*justify-content: space-around;*/
  /*margin: 0 30rem;*/
  list-style: none;
  width: 90%;
}

.tie img {
  /*width: 100%;*/
}

.tie {
  text-decoration: none;
}

.tiecolor {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.tagline {
  display: block;
  text-align: center;
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4rem;
}

.three {
  display: flex;
  width: 80%;
  align-content: stretch;
}

.class {
  width: 100%;
}

.three-img {
  margin: 1rem;
}

.quote {
  text-align: center;
  margin: 0 auto;
  font-family: Arial Narrow, sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  font-size: 2rem;
}

#story {
  text-transform: uppercase;
  color: #3498db;
  text-align: center;
  font-family: "ff-enzo-web",tahoma,sans-serif;
}

.footer-main {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: 'Source Sans Pro', sans-serif;

}

.footer-main img {
  height: 7rem;
  width: auto;
}

.footer-fourth {
  width: 100%;
}

.subscribeme {
  color: white;
  background: #3498db;
  border: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.fa-twitter {
  color: #00aced;
}

.fa-pinterest {
  color: #cb2027;

}

.fa-facebook {
  color: #3b5998;

}

.weeklypick {
  color: #3498db;
  background: none;
}


.footersub {
  display: flex;
  background: #F5F5F5;
}

.footersub ul {
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1rem;
}

.footersub li {
  list-style: none;
  padding: 0.2rem;
}

.firstlist {
  font-weight: bold;
  margin-bottom: 0.2
}

.helpcenter {
  /*background: gray;*/
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10rem;
}

.helpcenter p {
  padding: 0.5rem;
  display: block;
}

.contactus {
  display: inline-block
  font-size: 1rem;
  color: white;
  background: #3498db;
  border: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.copyright {
  background: #F5F5F5;
  font-family: 'Source Sans Pro', sans-serif;
}
